@import 'tailwindcss';

:root {
  /* Set default theme to dark if we can't get user prefference */
  color-scheme: dark;

  /* Backgrounds */
  --background: light-dark(hsl(200, 85%, 95%), hsl(219, 37%, 17%));
  --surface: light-dark(hsl(from var(--background) h s calc(l - 3)), hsl(from var(--background) h s calc(l + 3)));
  --surface-hover: light-dark(hsl(from var(--background) h s calc(l - 5)), hsl(from var(--background) h s calc(l + 5)));
  --panel: light-dark(hsl(from var(--background) h s calc(l - 8)), hsl(from var(--background) h s calc(l + 8)));
  --panel-hover: light-dark(hsl(from var(--background) h s calc(l - 10)), hsl(from var(--background) h s calc(l + 10)));
  --input: light-dark(hsl(200, 10%, 100%), hsl(220, 20%, 85%));

  /* Borders */
  --border: light-dark(hsl(185, 45%, 60%), hsl(220, 40%, 20%));
  --border-surface: light-dark(hsl(from var(--surface) h s 80), hsl(from var(--surface) h s 55));
  --border-panel: light-dark(hsl(from var(--panel) h s 80), hsl(from var(--panel) h s 55));

  /* Shadows */
  --shadow-color-panel: light-dark(hsl(from var(--panel) h s 30 / 0.2), hsl(from var(--panel) h s 3 / 0.2));
  --shadow-color-surface: light-dark(hsl(from var(--surface) h s 20 / 0.2), hsl(from var(--surface) h s 2 / 0.2));

  /* Text */
  --text: light-dark(hsl(270, 5%, 20%), hsl(0, 0%, 100%));
  --text-input: light-dark(hsl(270, 5%, 20%), hsl(270, 5%, 10%));
  --text-muted: light-dark(hsl(from var(--text) h s calc(l + 20)), hsl(from var(--text) h s calc(l - 20)));
  --text-panel: light-dark(hsl(from var(--text) h s calc(l + 20)), hsl(from var(--text) h s calc(l - 20)));
  --text-surface: light-dark(hsl(from var(--text) h s calc(l + 20)), hsl(from var(--text) h s calc(l - 20)));

  /* Action colors */
  --primary: hsl(200, 100%, 60%);
  --secondary: hsl(200, 95%, 35%);
  --tertiary: hsl(200, 95%, 30%);
  --primary-active: hsl(from var(--primary) h s calc(l + 5));
  --primary-hover: hsl(from var(--primary) h s calc(l + 10));
  --secondary-active: hsl(from var(--secondary) h s calc(l + 5));
  --secondary-hover: hsl(from var(--secondary) h s calc(l + 10));
  --tertiary-hover: hsl(from var(--tertiary) h s calc(l + 5));
  --tertiary-active: hsl(from var(--tertiary) h s calc(l + 10));

  /* Status colors */
  --success: hsl(140, 90%, 35%);
  --warning: hsl(45, 100%, 50%);
  --danger: hsl(30, 100%, 60%);
  --error: hsl(360, 35%, 50%);
  --disabled: light-dark(hsl(0, 0%, 85%), hsl(0, 0%, 25%));

  /* Durations */
  --duration-hover: 300ms;

  /* Layout */
  --header-h: 5rem;
}

/* Override if theme cookie exists, is set trough actions/changeTheme.ts */
:root[data-theme='dark'] {
  color-scheme: dark;
}
:root[data-theme='light'] {
  color-scheme: light;
}
:root[data-theme='system'] {
  color-scheme: light dark;
}

@layer base {
  html {
    scroll-padding-top: calc(var(--header-h) + 1rem);
    scroll-behavior: smooth;
  }

  body {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100svh;
    min-width: 375px;
    background: var(--background);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
  }

  main {
    flex: 1;
    margin-top: 5rem;
    display: flex;
    flex-flow: column nowrap;
  }

  header > :first-child {
    height: var(--header-h);
    @apply container mx-auto flex justify-between items-center p-4 md:px-8;
  }

  main > section > :first-child {
    @apply container mx-auto flex flex-col px-4 py-16 lg:py-24;
  }

  footer {
    @apply px-4 py-8 md:px-8 lg:py-16 grid gap-16;

    a {
      @apply text-primary;
    }
    a:hover {
      @apply text-primary-hover underline;
    }
  }

  h1 {
    @apply font-semibold text-2xl md:text-3xl lg:text-4xl;
  }

  h2 {
    @apply font-semibold text-xl md:text-2xl lg:text-3xl;
  }

  h3 {
    @apply font-semibold text-lg md:text-xl lg:text-2xl;
  }

  h4 {
    @apply font-semibold text-base md:text-lg;
  }

  p {
    @apply text-base leading-7;
  }

  small {
    @apply text-sm leading-6;
  }

  .panel {
    @apply p-4 rounded-md bg-panel border border-panel-border shadow-panel;
  }
}

@theme inline {
  /* Backgrounds */
  --color-background: var(--background);
  --color-panel-hover: var(--panel-hover);
  --color-panel: var(--panel);
  --color-surface-hover: var(--surface-hover);
  --color-surface: var(--surface);
  --color-input: var(--input);

  /* Borders */
  --color-panel-border: var(--border-panel);
  --color-surface-border: var(--border-surface);

  /* Shadows */
  --shadow-panel: 0 4px 4px var(--shadow-color-panel), 0 8px 8px var(--shadow-color-panel);
  --shadow-surface: 0 4px 4px var(--shadow-color-surface), 0 8px 8px var(--shadow-color-surface);

  /* Accents */
  --color-primary: var(--primary);
  --color-primary-active: var(--primary-active);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-hover: var(--secondary-hover);
  --color-tertiary: var(--tertiary);
  --color-tertiary-active: var(--tertiary-active);
  --color-tertiary-hover: var(--tertiary-hover);

  /* State colors */
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-error: var(--error);
  --color-disabled: var(--disabled);

  /* Typography */
  --color-text: var(--text);
  --color-text-input: var(--text-input);
  --color-text-muted: var(--text-muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* spacings */
  --spacing-normal: 4rem;

  /* Tailwind overrides */
  --default-transition-duration: 200ms;
  --default-transition-timing-function: ease-in-out;
}

@layer utilities {
  .transition-hover {
    @apply transition-colors duration-300 ease-in-out;
  }
}

/* Hiding the reCAPTCHA badge since we've included links in our user flow */
.grecaptcha-badge {
  visibility: hidden !important;
}

/* This class stops global scroll, add to any modals if needed */
:root:has(.stop-scroll) {
  overflow: hidden;
}
