@import "tailwindcss";

/* Set default theme to dark if we can't get user prefference */
:root {
  color-scheme: dark;
}

/* Override if theme cookie exists, is set trough actions/changeTheme.ts */
:root[data-theme="dark"] {
  color-scheme: dark;
}
:root[data-theme="light"] {
  color-scheme: light;
}
:root[data-theme="system"] {
  color-scheme: light dark;
}

:root {
  /* Colors */
  --background: light-dark(#b9d9eb, #070b1b);
  --foreground: light-dark(#d0e1eb, #0f172a);

  /* Text */
  --color-text: light-dark(#000000, #ffffff);
  --color-surface: light-dark(#000000, #f8f9fa);
  --color-border: light-dark(#000000, #e0e0e0);

  /* Action colors */
  --primary: #30c5ff;
  --secondary: #0369a1;
  --tertiary: #0369a1;
  --primary-active: #025e8f;
  --primary-hover: #0276b4;
  --secondary-active: #0369a1;
  --secondary-hover: #0369a1;
  --tertiary-hover: #0369a1;
  --tertiary-active: #0369a1;

  /* Status colors */
  --success: #08a33c;
  --warning: #f7be03;
  --danger: #ff9b42;
  --error: #8a3033;

  /* Durations */
  --duration-hover: 300ms;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100svh;
    min-width: 375px;
    background: var(--background);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
  }

  main {
    flex: 1;
    margin-top: 5rem;
    display: flex;
    flex-flow: column nowrap;
  }

  header > :first-child {
    @apply container mx-auto h-20 flex justify-between items-center p-4;
  }

  main > section > :first-child {
    @apply container mx-auto flex flex-col px-4 py-16 lg:py-24;
  }

  footer > :first-child {
    @apply container mx-auto flex justify-between p-4;
  }

  h1 {
    @apply font-semibold text-2xl md:text-3xl lg:text-4xl;
  }

  h2 {
    @apply font-semibold text-xl md:text-2xl lg:text-3xl;
  }

  h3 {
    @apply font-semibold text-lg md:text-xl lg:text-2xl;
  }

  h4 {
    @apply font-semibold text-base md:text-lg;
  }

  p {
    @apply text-base leading-7;
  }

  small {
    @apply text-sm leading-6;
  }
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-active: var(--primary-active);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-hover: var(--secondary-hover);
  --color-tertiary: var(--tertiary);
  --color-tertiary-active: var(--tertiary-active);
  --color-tertiary-hover: var(--tertiary-hover);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-error: var(--error);

  /* font */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* spacings */
  --spacing-normal: 4rem;

  /* Tailwind overrides */
  --default-transition-duration: 200ms;
  --default-transition-timing-function: ease-in-out;
}

@layer utilities {
  .transition-hover {
    @apply transition-colors duration-300 ease-in-out;
  }
}
